@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
body {
  background: #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif; }

body.background-gray {
  background: #f6f6f6; }

a, a:hover, a.focus {
  outline: 0;
  background: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif; }

label {
  font-weight: 300; }

/*-------------------------------*/
/*          Main menu            */
/*-------------------------------*/
header#main-menu {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9000; }
  header#main-menu .navbar {
    border: 0;
    background: rgba(0, 0, 0, 0.6); }
    header#main-menu .navbar .input-group {
      top: -1px; }
    header#main-menu .navbar .navbar-toggle {
      border: 0;
      background-color: rgba(0, 0, 0, 0.4);
      height: 40px;
      margin: 10px; }
    header#main-menu .navbar .navbar-collapse {
      border: 0;
      box-shadow: none; }
    header#main-menu .navbar .divider {
      background: rgba(0, 0, 0, 0.4); }
    header#main-menu .navbar .navbar-brand {
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      font-size: 22pt;
      color: #fff;
      padding: 0 15px;
      line-height: 60px;
      height: 60px;
      background: rgba(0, 0, 0, 0.4); }
    header#main-menu .navbar .dropdown .dropdown-menu {
      background: rgba(0, 0, 0, 0.75);
      border: 0;
      padding: 0; }
    header#main-menu .navbar .dropdown.open a {
      transition: none; }
    header#main-menu .navbar .dropdown.open a.dropdown-toggle {
      background: rgba(0, 0, 0, 0.4); }
    header#main-menu .navbar .dropdown.open a:hover, header#main-menu .navbar .dropdown.open a:focus {
      background: rgba(0, 0, 0, 0.4); }
    header#main-menu .navbar .dropdown .caret {
      margin-top: -3px; }
    header#main-menu .navbar .navbar-form {
      border: 0;
      box-shadow: none;
      margin: 10px 0;
      padding: 0;
      line-height: 40px; }
    header#main-menu .navbar .navbar-nav a {
      font-weight: 300;
      font-size: 12pt;
      text-transform: uppercase;
      color: #fff;
      line-height: 30px;
      transition: .2s; }
    header#main-menu .navbar .navbar-nav .active a {
      background: transparent; }
    header#main-menu .navbar div#search-input {
      border: 0;
      border-radius: 0;
      background-color: #fff;
      height: 40px; }
      header#main-menu .navbar div#search-input input {
        margin: 5px;
        padding: 0 5px;
        height: 30px;
        font-weight: 300;
        font-size: 13pt;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background: transparent; }
      header#main-menu .navbar div#search-input button {
        border-radius: 0;
        background: none;
        box-shadow: none;
        outline: 0;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc; }
      header#main-menu .navbar div#search-input button:hover {
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc; }

/*-------------------------------*/
/*           Sections            */
/*-------------------------------*/
section {
  overflow: hidden;
  z-index: 1100;
  position: relative;
  font-weight: 300;
  padding: 30px 0;
  /*** - TOP SECTION - ***/
  /*** - SERVICES SECTION - ***/
  /*** - STATISTIC SECTION - ***/
  /*** - PORTFOLIO SECTION - ***/
  /*** - CONTACT SECTION - ***/
  /*** - FOOTER SECTION - ***/
  /*** - UNDERGROUND SECTION - ***/
  /*** - BLOG SECTION - ***/
  /*** - SIGN SECTION - ***/ }
  section h2 {
    margin-top: 0; }
  section p.quote {
    position: relative;
    color: #7E7E7E;
    border-right: 1px solid #B2B2B2;
    padding: 0 10px 0 100px;
    font-weight: 400; }
    section p.quote:before {
      position: absolute;
      background: url("../images/quote.png") center 4px no-repeat;
      height: 100px;
      width: 100px;
      margin-left: -100px;
      content: ' '; }
    section p.quote span {
      font-style: italic;
      display: block;
      color: #000;
      text-align: right;
      font-weight: 400;
      font-size: 10pt; }
  section.section-top .background {
    z-index: -900; }
  section.section-top .top {
    background: rgba(0, 0, 0, 0.4);
    z-index: 1100;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }
    section.section-top .top .case {
      text-align: center; }
      section.section-top .top .case.logotype p {
        margin: 20px 0;
        font-size: 14pt; }
  section.about {
    background: #fff;
    color: #000; }
  section.services {
    text-align: center;
    background: rgba(0, 0, 0, 0.4); }
    section.services span.icon {
      margin: 10px;
      display: inline-block;
      width: 80px;
      height: 80px;
      font-size: 40pt;
      border: 3px solid #fff;
      border-radius: 40px; }
    section.services span.title {
      display: block;
      font-weight: 600;
      font-size: 12pt; }
  section.statistic {
    background: #fff;
    color: #000;
    text-align: center; }
    section.statistic .count {
      font-weight: 400;
      font-size: 40pt; }
    section.statistic .title {
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      padding: 5px 0;
      display: block; }
  section.portfolio {
    background: rgba(0, 0, 0, 0.4); }
    section.portfolio .gallery .tabs {
      background: rgba(0, 0, 0, 0.6); }
      section.portfolio .gallery .tabs li {
        margin-left: 0; }
        section.portfolio .gallery .tabs li a {
          color: #fff;
          border-radius: 0; }
          section.portfolio .gallery .tabs li a:hover, section.portfolio .gallery .tabs li a:focus {
            background: rgba(0, 0, 0, 0.2); }
        section.portfolio .gallery .tabs li.active a {
          background: rgba(0, 0, 0, 0.6); }
    section.portfolio .gallery .works {
      padding: 5px;
      background: rgba(0, 0, 0, 0.4);
      min-height: 500px;
      position: relative; }
      section.portfolio .gallery .works .filtr-item {
        padding: 5px;
        z-index: 100; }
        section.portfolio .gallery .works .filtr-item a {
          color: #fff; }
        section.portfolio .gallery .works .filtr-item.filteredOut {
          z-index: 50; }
        section.portfolio .gallery .works .filtr-item span.description {
          display: none; }
        section.portfolio .gallery .works .filtr-item span.item-desc {
          position: absolute;
          bottom: 5px;
          left: 5px;
          right: 5px;
          padding: 5px;
          text-align: center;
          line-height: 20px;
          text-transform: uppercase;
          background: rgba(0, 0, 0, 0.4); }
      section.portfolio .gallery .works .filtr-hide {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        position: absolute !important;
        z-index: 0;
        opacity: 0; }
      section.portfolio .gallery .works .work {
        display: none;
        background: rgba(0, 0, 0, 0.4);
        z-index: 350; }
        section.portfolio .gallery .works .work .image {
          padding: 5px; }
        section.portfolio .gallery .works .work .description {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          padding: 5px;
          background: rgba(0, 0, 0, 0.6);
          overflow: auto; }
          section.portfolio .gallery .works .work .description h4 {
            text-transform: uppercase; }
        section.portfolio .gallery .works .work .btn {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0; }
  section.contact {
    background: #fff;
    color: #000; }
  section.footer {
    background: #0C0C0C; }
    section.footer .subscribe {
      background: #fff; }
      section.footer .subscribe .form-control {
        padding: 5px; }
      section.footer .subscribe .btn {
        margin: 0;
        line-height: 22px;
        width: 80px; }
    section.footer ul {
      padding: 0; }
      section.footer ul .social {
        padding: 6px 0;
        font-size: 20pt; }
        section.footer ul .social li {
          display: inline-block;
          margin-right: 10px; }
      section.footer ul li {
        list-style-type: none; }
        section.footer ul li a {
          color: #fff; }
          section.footer ul li a.logotype {
            font-family: 'Amatic SC', cursive;
            font-weight: 700;
            font-size: 22pt;
            color: #fff;
            line-height: 60px;
            height: 60px; }
  section.underground {
    background: #000;
    padding: 5px 0; }
    section.underground .copyright {
      font-size: 10pt; }
  section.blog {
    padding-top: 90px;
    color: #000;
    /* - PROFILE SIDEBAR - */
    /* - BLOG SIDEBAR - */
    /* - BLOG LISTING - */ }
    section.blog .profile {
      margin: 15px;
      overflow: hidden;
      color: #fff;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
      section.blog .profile .box {
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 0; }
        section.blog .profile .box h1, section.blog .profile .box h2, section.blog .profile .box h3, section.blog .profile .box h4, section.blog .profile .box h5, section.blog .profile .box h6 {
          margin: 0; }
        section.blog .profile .box .status {
          margin: 5px 0; }
        section.blog .profile .box .picture {
          height: 150px;
          width: 150px;
          background: rgba(0, 0, 0, 0.4);
          border: 0;
          border-radius: 80px; }
      section.blog .profile .buttons {
        background: rgba(0, 0, 0, 0.6); }
    section.blog .sidebar .box {
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      position: relative;
      background-clip: padding-box;
      background: #fff;
      margin-bottom: 20px; }
      section.blog .sidebar .box:last-child {
        margin: 0; }
      section.blog .sidebar .box .title {
        padding: 0 10px;
        margin: 0;
        text-align: center;
        line-height: 40px;
        position: relative; }
        section.blog .sidebar .box .title:after {
          content: ' ';
          position: absolute;
          right: 10px;
          left: 10px;
          top: 20px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        section.blog .sidebar .box .title span {
          color: #000;
          background: #fff;
          z-index: 10;
          text-transform: uppercase;
          position: relative;
          padding: 0 10px; }
      section.blog .sidebar .box .nav-pills {
        padding: 0 10px 10px 10px; }
        section.blog .sidebar .box .nav-pills .nav-item .nav-link {
          border-radius: 0;
          padding: 3px 0;
          color: #000;
          transition: .2s;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
          section.blog .sidebar .box .nav-pills .nav-item .nav-link:hover, section.blog .sidebar .box .nav-pills .nav-item .nav-link:focus {
            color: #3c3c3c;
            background: none; }
        section.blog .sidebar .box .nav-pills .nav-item:last-child .nav-link {
          border: 0; }
      section.blog .sidebar .box .content {
        padding: 0 10px 10px 10px; }
        section.blog .sidebar .box .content a {
          margin: 2px 0; }
    section.blog .post {
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      background: #fff;
      border: 0; }
      section.blog .post .panel-heading {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      section.blog .post .panel-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        padding: 10px 0; }
      section.blog .post .title {
        margin: 0;
        line-height: 40px;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 500;
        font-size: 18pt;
        color: #000; }
        section.blog .post .title:hover, section.blog .post .title:focus {
          text-decoration: none; }
      section.blog .post:last-child {
        margin-bottom: 0; }
  section.sign {
    background: rgba(0, 0, 0, 0.4);
    min-height: 100vh; }
    section.sign a {
      transition: .2s;
      text-decoration: none; }
    section.sign .main {
      max-width: 400px;
      margin: 0 auto; }
      section.sign .main .header {
        text-align: center;
        margin: 60px 0 20px 0; }
        section.sign .main .header .logotype {
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
          font-size: 40pt;
          color: #fff;
          line-height: 60px;
          height: 60px; }
      section.sign .main .nav-tabs li {
        text-align: left; }
        section.sign .main .nav-tabs li a {
          color: #fff;
          transition: .2s;
          border: 0;
          border-radius: 0; }
          section.sign .main .nav-tabs li a:hover, section.sign .main .nav-tabs li a:focus {
            border: 0;
            border-radius: 0; }
        section.sign .main .nav-tabs li.active {
          text-align: right; }
      section.sign .main .case {
        border-radius: 2px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }
        section.sign .main .case form {
          background: rgba(0, 0, 0, 0.2);
          padding: 10px; }
        section.sign .main .case .social-box {
          padding: 0 10px 10px 10px; }
          section.sign .main .case .social-box .btn {
            margin-top: 10px; }

/*-------------------------------*/
/*          Background           */
/*-------------------------------*/
.background {
  position: absolute;
  margin: 0;
  border: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: -10; }

/*-------------------------------*/
/*          Flexslider           */
/*-------------------------------*/
.flexslider {
  background: transparent;
  border-radius: 0; }
  .flexslider.filter-blur li {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px); }
  .flexslider.filter-blacknwhite li {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); }
  .flexslider.filter-grayscale li {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    filter: grayscale(50%); }
  .flexslider.filter-sepia li {
    -webkit-filter: sepia(50%);
    -moz-filter: sepia(50%);
    -o-filter: sepia(50%);
    -ms-filter: sepia(50%);
    filter: sepia(50%); }
  .flexslider.filter-saturate li {
    -webkit-filter: saturate(150%);
    -moz-filter: saturate(150%);
    -o-filter: saturate(150%);
    -ms-filter: saturate(150%);
    filter: saturate(150%); }
  .flexslider.filter-invert li {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%); }
  .flexslider ul.slides li {
    background-size: cover !important;
    background-position: center center !important;
    height: 100vh; }
  .flexslider .flex-direction-nav {
    display: none; }

/*-------------------------------*/
/*           Buttons             */
/*-------------------------------*/
.btn {
  border: 0;
  border-radius: 0;
  transition: 0.2s;
  font-weight: 300;
  color: #fff; }
  .btn.focus, .btn:focus, .btn:hover {
    z-index: 3;
    color: #fff; }
  .btn.btn-default {
    color: #000;
    background: rgba(255, 255, 255, 0.7); }
    .btn.btn-default:hover, .btn.btn-default:focus {
      background: rgba(255, 255, 255, 0.9); }
  .btn.btn-primary {
    background: rgba(0, 188, 212, 0.7); }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background: rgba(0, 188, 212, 0.9); }
  .btn.btn-success {
    background: rgba(71, 255, 12, 0.7); }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background: rgba(71, 255, 12, 0.9); }
  .btn.btn-danger {
    background: rgba(255, 82, 26, 0.7); }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background: rgba(255, 82, 26, 0.9); }
  .btn.btn-warning {
    background: rgba(255, 119, 14, 0.7); }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background: rgba(255, 119, 14, 0.9); }

/*-------------------------------*/
/*          Progress             */
/*-------------------------------*/
.progress .progress-bar-success {
  background: rgba(71, 255, 12, 0.9); }
.progress .progress-bar-info {
  background: rgba(0, 188, 212, 0.9); }
.progress .progress-bar-warning {
  background: rgba(255, 119, 14, 0.9); }
.progress .progress-bar-danger {
  background: rgba(255, 82, 26, 0.9); }

/*-------------------------------*/
/*           Skills              */
/*-------------------------------*/
.skills .progress {
  overflow: hidden;
  position: relative;
  border-radius: 0;
  background: none;
  box-shadow: none;
  height: auto;
  padding-bottom: 5px;
  text-transform: uppercase; }
  .skills .progress .title {
    font-weight: 400;
    float: left; }
  .skills .progress .percent {
    float: right; }
  .skills .progress .progress-bar {
    float: none;
    height: 5px;
    bottom: 0;
    position: absolute; }

/*-------------------------------*/
/*            Cards              */
/*-------------------------------*/
.cards > div {
  padding: 10px 0; }

/*-------------------------------*/
/*           Parallax            */
/*-------------------------------*/
.parallax-mirror {
  z-index: -5 !important; }

/*-------------------------------*/
/*             Form              */
/*-------------------------------*/
.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 5px 0; }
  .form-control:focus {
    box-shadow: none; }

/*-------------------------------*/
/*             Maps              */
/*-------------------------------*/
#map {
  width: 100%;
  height: 400px; }
  #map .bubble-map a {
    display: block; }

/*-------------------------------*/
/*            Media              */
/*-------------------------------*/
@media screen and (min-width: 600px) {
  section.section-top {
    min-height: 100vh;
    overflow: hidden;
    position: relative; }
    section.section-top .case.logotype {
      width: 600px;
      font-size: 12pt;
      position: absolute;
      z-index: 100;
      display: block;
      height: 200px;
      top: 50%;
      left: 50%;
      margin-top: -100px;
      margin-left: -300px; }

  .background {
    position: fixed; } }
/*-------------------------------*/
/*        Overlay loader         */
/*-------------------------------*/
@-webkit-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }
@keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }
@-moz-keyframes enter {
  0% {
    opacity: 0;
    top: -10px; }
  5% {
    opacity: 1;
    top: 0px; }
  50.9% {
    opacity: 1;
    top: 0px; }
  55.9% {
    opacity: 0;
    top: 10px; } }
.overlay {
  position: absolute;
  z-index: 9100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #464646; }
  .overlay .loader {
    z-index: 9500;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27.5px;
    margin-top: -27.5px; }
    .overlay .loader .square {
      width: 15px;
      height: 15px;
      float: left;
      top: -10px;
      margin-right: 5px;
      margin-top: 5px;
      position: relative;
      opacity: 0;
      -webkit-animation: enter 6s infinite;
      animation: enter 6s infinite;
      background: rgba(0, 0, 0, 0.4); }
      .overlay .loader .square.enter {
        top: 0;
        opacity: 1; }
      .overlay .loader .square:nth-child(1) {
        -webkit-animation-delay: 1.8s;
        -moz-animation-delay: 1.8s;
        animation-delay: 1.8s; }
      .overlay .loader .square:nth-child(2) {
        -webkit-animation-delay: 2.1s;
        -moz-animation-delay: 2.1s;
        animation-delay: 2.1s; }
      .overlay .loader .square:nth-child(3) {
        -webkit-animation-delay: 2.4s;
        -moz-animation-delay: 2.4s;
        animation-delay: 2.4s;
        background: rgba(0, 0, 0, 0.2); }
      .overlay .loader .square:nth-child(4) {
        -webkit-animation-delay: 0.9s;
        -moz-animation-delay: 0.9s;
        animation-delay: 0.9s; }
      .overlay .loader .square:nth-child(5) {
        -webkit-animation-delay: 1.2s;
        -moz-animation-delay: 1.2s;
        animation-delay: 1.2s; }
      .overlay .loader .square:nth-child(6) {
        -webkit-animation-delay: 1.5s;
        -moz-animation-delay: 1.5s;
        animation-delay: 1.5s; }
      .overlay .loader .square:nth-child(8) {
        -webkit-animation-delay: 0.3s;
        -moz-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      .overlay .loader .square:nth-child(9) {
        -webkit-animation-delay: 0.6s;
        -moz-animation-delay: 0.6s;
        animation-delay: 0.6s; }
      .overlay .loader .square.clear {
        clear: both; }
      .overlay .loader .square.last {
        margin-right: 0; }

/*# sourceMappingURL=main.css.map */
